.hero{

  background: center $white url("../images/7.jpg") /cover;


}

.texte-bienvenue{
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 400px;

  padding: 20px;

  background-color: rgba(95,109,126,0.4);

  h2,p{
  margin-left: rem(16);
    line-height: 1.2;
    color: $white;
  }
  p{
    font-size: rem(22);
  }



}

