.nav-principale{
  ul{
    margin: 0;
    padding: 0;

    display: none;
  }

  a{
    color: $white;

    display: flex;
    padding: 15px 40px;



  i{
    font-size: rem(24);
    margin-right: 15px;
  }

  }

  a:hover{
    background-color: darken($side-menu-bg,15%);
  }





  .show-menu{
    display: block;
    text-align: center;
    color: $white;
    background-color: $title-color;
    padding: 10px 0;
  }
.toggle-menu:checked + ul{
  display: block;
}
  .toggle-menu{
    display: none;
  }

}

