//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleur de base
$white:#ffffff;
$black: #1c1c1c;

$text-color:#777777;
$main-bg-color:$white;
$side-menu-bg:#5f6d7e;
$title-color:#555555;
$link-color:$white;
$link-hover-color:darken($side-menu-bg,5%);
$link-active-color:darken($side-menu-bg,15%);