//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


/// Grosseur des textes
$fz:rem(16);

//Hauteur des lignes
$line-height: 1.5;

/// Font family
$ff-main:"Roboto, Helvetica, Arial, sans-serif";

/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
