//FONCTION POUR CALCUL DES REMS
@function rem($pixels, $ref: 16) {
  @return ($pixels / $ref) + rem;
}

//MIXIN POUR AJOUTER UNE FONT

@mixin font($family, $size: 'inherit', $color:#000,$line-height:1)
{
  font-family: $family;
  font-size: $size;
  color: $color;
  line-height: $line-height;
}

